/* #region variables */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navyblue-modal: #2e2f42;
  --dairy: #fcfcfc;

  --font-roboto: "Roboto", sans-serif;
  --font-raleway: "Raleway", sans-serif;
}

/* #endregion */

/* #region elements */
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/* #endregion */

/* #region standardization */
.body {
  margin: 0;

  font-family: var(--font-roboto);
  color: var(--slate);

  background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  display: flex;
  list-style: none;
  gap: 24px;
}

.link {
  text-decoration: none;
}

button {
  font: var(--font-roboto);

  background: none;
  border: none;

  cursor: pointer;
}

/* #endregion */

/* #region logo */
.top-bar-logo,
.footer-logo {
  display: inline-flex;
  font-family: var(--font-raleway);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--iris);
}

.text-studio{
  color: var(--navyblue);
}
/* #endregion */

/* #region top bar */
.top-bar {
  border-bottom: 1px solid var(--cornflower, #E7E9FC);
}

.top-bar .container {
  display: flex;
  align-items: center;
}

.top-bar-logo {
  margin-right: 76px;
  align-items: center;
}

.top-bar-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.top-bar-list {
  gap: 40px;
}

.top-bar-link {
  display: block;
  padding: 24px 0;

  color: var(--navyblue);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.top-bar-link:hover,
.top-bar-link:focus {
  color: var(--ocean);
}

.top-bar-contact {
  font-style: normal;
}

.contact-list {
  gap: 40px;
}

.contact-link {
  display: block;
  padding: 24px 0;

  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--ocean);
}
/* #endregion */

/* #region hero */
.hero {
  background-color: var(--navyblue);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 188px 0;
}

.hero .container {
  display: flex;
  flex-direction: column;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto;

  color: #fff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;

  text-align: center;

  margin-bottom: 48px;
}

.hero-button {
  display: block;
  min-width: 169px;
  padding: 16px 32px;

  margin: 0 auto;

  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;

  background-color: var(--iris);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}
/* #endregion */

/* #region home main */
.process-heading,
.offering-heading,
.team-heading {
  color: var(--navyblue);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;

  margin-bottom: 72px;
}

.process {
  display: flex;
  padding: 120px 0;
}

.process-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 264px;
}

.process-item-heading {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.process-item-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.offering {
  padding-bottom: 120px;
}

.team {
  background-color: var(--cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-member {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 0px 0px 4px 4px;
  background: var(--white, #FFF);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card-text {
  display: flex;
  width: 232px;
  padding: 32px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-member-name {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;

  margin-bottom: 8px;

  text-align: center;
}

.team-member-role {
  color: var(--slate);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  text-align: center;
}
/* #endregion */

/* #region footer */
.footer {
  background-color: var(--navyblue);
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer .text-studio {
  color: var(--cloud);
}

.footer-text {
  width: 264px;
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion */

/* #region portfolio main */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-header {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.filters-button {
  display: inline-flex;
  padding: 12px 24px;

  color: var(--iris);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: 1px solid var(--cornflower);
  border-radius: 4px;
  background: var(--cloud);
}

.filters-button:hover,
.filters-button:focus {
  color: #fff;
  background-color: var(--ocean);
  border: 1px solid transparent;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  flex-basis: calc((100% - 24px * 2) / 3);
}

.portfolio-item-text {
  display: flex;
  flex-direction: column;

  padding: 32px 16px;

  border: 1px solid var(--cornflower, #E7E9FC);
  border-top: none;
  background: var(--white, #FFF);
}

.portfolio-header {
  margin-bottom: 8px;
}

.portfolio-classifier {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion */
